<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fan.demo.dao.GoodsDao">
    <select id="selectAll" resultType="Goods">
        select * from goods
    </select>
    <select id="selectById" resultType="Goods">
        select * from goods where id = #{id}
    </select>
    <insert id="insert" parameterType="Goods" useGeneratedKeys="true" keyProperty="id">
        insert into goods (title, image, goods_abstract, text, price, sell_num)
        values (
            #{title},
            #{image},
            #{goods_abstract},
            #{text},
            #{price},
            #{sell_num}
        )
    </insert>
    <delete id="delete">
        delete from goods where id = #{id}
    </delete>
    <update id="updateInfo">
        update goods set
        goods_abstract = #{goods_abstract},
        title = #{title},
        image = #{image},
        text = #{text},
        price = #{price}
        where id = #{id}
    </update>
    <update id="updateNum">
        update goods set
        sell_num = #{sell_num}
        where id = #{id}
    </update>
</mapper>