<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fan.demo.dao.RecordDao">
    <select id="selectAll" resultType="BuyRecord">
        select goods_id, buy_time, buy_price, buy_num from record
    </select>
    <insert id="insertAll" parameterType="java.util.List">
            insert into record
            (
            goods_id,
            buy_time,
            buy_price,
            buy_num
            )
            values
            <foreach collection="list" item="item" index= "index" separator =",">
                (
                #{item.goods_id},
                #{item.buy_time},
                #{item.buy_price},
                #{item.buy_num}
                )
            </foreach>
    </insert>
</mapper>